name: publish-image
on:
  push:
    branches:
      - main

jobs:
  build:
    permissions:
      contents: read
      packages: write
    uses: ./.github/workflows/reusable-build-image.yaml
    with:
      push: true
      tags: ghcr.io/kintone/dev-container:latest

  yamory-scan:
    needs: build
    uses: ./.github/workflows/reusable-yamory-scan.yaml
    with:
      image_name: ghcr.io/kintone/dev-container:latest
      image_title: dev-container
      image_identifier: dev-container
    secrets:
      YAMORY_API_KEY: ${{ secrets.YAMORY_API_KEY }}
