name: test-build

# TODO: CIが修正されたらトリガーを元に戻す
# on:
#   pull_request:
#   push:
#     branches:
#       - main
on:
  workflow_dispatch:

jobs:
  build:
    uses: ./.github/workflows/reusable-build-image.yaml
